* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Open Sans';
  font-size: 14px;
}

.container-segunda-seccion {
  background-color: #181f2a;
  color: white;
}

.container-segunda-seccion h3 {
  font-family: 'Raleway';
  letter-spacing: 1px;
}

.container-segunda-seccion div.caracteristicas {
  text-align: center;
  width: 300px;
  height: 310px;
  margin: 0 auto;
}

.container-segunda-seccion div.caracteristicas img {
  margin: 30px;
}

.container-segunda-seccion div.caracteristicas h3 {
  margin-bottom: 10px;
}

@media only screen and (min-width: 768px) {
  .container-segunda-seccion .seccion-caracteristicas {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    margin: unset;
    padding: 0 20%;
  }
  .container-segunda-seccion .seccion-caracteristicas p {
    max-width: 300px;
    /* font-size: 12px; */
    font-weight: lighter;
    margin: 0 auto;
  }
  .container-segunda-seccion .seccion-caracteristicas div.caracteristicas {
    width: 45%;
    margin: 0 auto;
  }
}

.container-segunda-seccion .seccion-stay-productive #stay-productive-img {
  display: block;
  width: 300px;
  margin: 20px auto;
}

.container-segunda-seccion .seccion-stay-productive div.stay-productive-info {
  text-align: left;
  width: 300px;
  margin: 50px auto;
}

.container-segunda-seccion .seccion-stay-productive div.stay-productive-info p {
  margin: 15px auto;
}

.container-segunda-seccion .seccion-stay-productive div.stay-productive-info a {
  padding-bottom: 5px;
  text-decoration: none;
  color: #65e2d9;
  border-bottom: 2px solid #65e2d9;
}

@media only screen and (min-width: 768px) {
  .container-segunda-seccion .seccion-stay-productive {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .container-segunda-seccion .seccion-stay-productive h3 {
    width: 200px;
    font-size: 22px;
  }
  .container-segunda-seccion .seccion-stay-productive p {
    /* font-size: 12px; */
    font-weight: lighter;
  }
  .container-segunda-seccion .seccion-stay-productive #stay-productive-img {
    width: 45%;
    max-width: 600px;
    margin: 20px 0;
  }
  .container-segunda-seccion .seccion-stay-productive div.stay-productive-info {
    width: 45%;
    max-width: 400px;
    margin: unset;
    margin-left: 40px;
  }
}

.container-segunda-seccion .seccion-testimonios {
  /* position: relative;
        /* z-index: 1; */
  padding: 100px 10%;
}

.container-segunda-seccion .seccion-testimonios article.testimonio:first-of-type {
  position: relative;
  /* z-index: 3; */
}

.container-segunda-seccion .seccion-testimonios article.testimonio:first-of-type img.comillas {
  position: absolute;
  height: 20px;
  top: -18px;
  left: 15px;
  /* z-index: 2; */
}

.container-segunda-seccion .seccion-testimonios article.testimonio {
  padding: 20px;
  font-size: 12px;
  font-weight: lighter;
  line-height: 2;
  width: 80%;
  margin: 30px auto;
  background-color: #202a3c;
  border-radius: 5px;
}

.container-segunda-seccion .seccion-testimonios article.testimonio .footer-testimonio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container-segunda-seccion .seccion-testimonios article.testimonio .footer-testimonio img {
  height: 35px;
  border-radius: 50%;
  margin-right: 10px;
}

.container-segunda-seccion .seccion-testimonios article.testimonio .footer-testimonio ul {
  list-style: none;
}

.container-segunda-seccion .seccion-testimonios article.testimonio .footer-testimonio ul li.testimonio-nombre {
  font-weight: bold;
  line-height: 1;
}

@media only screen and (min-width: 768px) {
  .container-segunda-seccion .seccion-testimonios {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 100px 8%;
  }
  .container-segunda-seccion .seccion-testimonios article.testimonio {
    margin: 10px 10px;
    max-width: 337px;
  }
}
/*# sourceMappingURL=style.css.map */